<form action="<%= R(GameRanking) %>">
    Date: From <input type="text" class="date_select" name="date_start"></input>
     to <input type="text" class="date_select" name="date_end"></input><br />

    Number of results: <input type="number" name="limit" value="10"></input>
    <input type="submit" name="submit" value="Filter"></input>
</form>
<table class="tablesorter">
    <thead>
        <tr><th>Game</th><th>Plays</th></tr>
    </thead>
    <tbody>
    <% @games.each do |game| %>
        <tr><td><a href="<%= R(GameViewN, game.game_id) %>"><%== game.game.name %></a></td><td><%= game.plays %></td></tr>
    <% end %>
    </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
    $('select').multiselect().multiselectfilter();
    $('input.date_select').datepicker({dateFormat: $.datepicker.ISO_8601});
    // TODO: When form start date changes, update end date
    $('.tablesorter').tablesorter();
});
</script>
