<!DOCTYPE html>
<html>
<head>
<title>No title</title>
<script type="text/javascript" src="/scripts/jquery.js"></script>
<script type="text/javascript" src="/scripts/jquery-ui.js"></script>
<script type="text/javascript" src="/scripts/jquery.multiselect.js"></script>
<script type="text/javascript" src="/scripts/jquery.multiselect.filter.js"></script>

<link href="/css/ui-lightness/jquery-ui-1.10.3.custom.css" media="all" rel="stylesheet" type="text/css" />
<link href="/css/jquery.multiselect.css" media="all" rel="stylesheet" type="text/css" />
<link href="/css/jquery.multiselect.filter.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
<%= yield %>
<p><a href="<%= R(Index) %>">Home</a></p>
Current state: <%== is_admin ? "Admin" : "User" %><br />
</body>
</html>

